<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/normalize.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <title>Mercado Liebre - register</title>
</head>

<body class="by-grey pageHeader">

    <header class="pageHeader c-amarillo padding8 flex flex-wrap borde-b"> 
        <img src="/images/logo-mercado-liebre.svg" alt="logo de Mercado Liebre" class="w-50">
        
            <div class="padding20 w-50 align-center">
                <form action="/" class="padding8 flex radio5 c-blanco">
                    <input
                      class="flex-grow borde-none outline-none f-18"
                      type="text"
                      name="search"
                      placeholder="Buscá productos por nombre, marcas o palabras clave"
                    />
                    <button type="submit" class="c-blanco borde-none">
                        <i class="fa-solid fa-magnifying-glass"></i>
                      </button>
                    </form>
                  </div>
                  <p class="text-center w-100 margin">
                    <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
                  </p>

        <nav class="bloque">
            <ul class="padding bloque">
                <li><a class="nav-link"  href="#">Ofertas</a></li>
                <li><a class="nav-link"  href="#">Tiendas Oficiales</a></li>
                <li><a class="nav-link"  href="#">Vender</a></li>  
                <li><a class="nav-link"  href="#">Ayuda</a></li>
            </ul>
            <ul class="padding bloque">
                <li><a href="/register">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li> 
                <li><a href="/login">Ingresá</a><i class="fa-duotone fa-arrow-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="txt-c w-100">
            <i class="fa-solid fa-bars" class="padding8 c-azul radio5 c-blanco bold"></i>
        </div>
    </header>
    
    <main class="f-12 c-gris txt-c">
        <form action="/register" method="POST"> 
            <p>
                <label form="Nombre y apellido">Nombre y apellido:</label>
                <input type="text" name="Nombre y apellido" class="borde-gris margin"></input>
            </p>
            <p>
                <label form="usuario">Nombre de usuari@:</label>
                <input type="text" name="Nombre de usuari@" id="usuario"class="borde-gris margin"></input>
            </p>
            <p>
                <label form="Fecha de Nacimiento">Fecha de Nacimiento:</label>
                <input type="date" name="Fecha de nacimiento" value="2023-01-02" min="2000-01-01" max="2099-12-31" class="borde-gris margin c-azul"></input>
            </p>
            <p>
                <label form="domicilio">Domicilio</label>
                <input type="text" name="Domicilio"class="borde-gris margin"></input>
            </p> 
            <p>
                <label form="usuario" >Usuario:</label>
                <input type="radio" name="perfil" velue="comprador" class="margin"> Comprador</input>
                <input type="radio" name="perfil" value="vendedor" class="margin"> Vendedor</input>
            </p> 
            <p class="margin">
                <label form="categoria" >Categorías de interés (puede elegir más de una):</label>
                <ul>
                    <li><input type="checkbox" name="interes" value="Electro"> Electronica  </input></li>
                    <li><input type="checkbox" name="interes" value="Moda"> Moda  </input></li>
                    <li><input type="checkbox" name="interes" value="Hogar"> Hogar  </input></li>
                    <li><input type="checkbox" name="interes" value="Juguetería"> Juguetería  </input></li>
                    <li><input type="checkbox" name="interes" value="Vida sana"> Vida Sana  </input></li>
                </ul>
            </p> 
            <p class="margin">
                <label form="fotoUsuario" class="c-gris"></label>
                <input type="" name="fotoUsuario" value="Foto de usuario"class="borde-gris c-gris"></input>
            </p>
            <p>
                <label form="contraseña"></label>
                <textarea input type="password" name="contraseña" class="borde-gris c-gris f-12 pageHeader margin">Contraseña</textarea></input>
            </p>
            <p>
                <label form="confirmarContraseña"></label>
                <textarea class="borde-gris" input type="password" name="confirmarContraseña" class="borde-gris c-gris f-12 pageHeader margin">Confirmar contraseña</textarea></input>
            </p> 
            <p>
                <button type="submit" class="c-azul pageHeader f-12 margin"> Enviar </button>
                <button type="reset" class="c-azul pageHeader f-12 margin">Borrar </button>
            </p>
        </form>
    </main>

    <footer class="w-100 txt-c">
        <div class="flotar bloque padding20 flex flex-grow">
            <div class="padding8">
                <div>
                    <i class="fa-sharp fa-solid fa-credit-card c-azul f-24 margin"></i>
                </div>
                <div>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
                </div>
            </div>

            <div class="padding8">
                <div>
                    <i class="fa-solid fa-gift c-azul f-24 margin"></i>
                </div>
                <div>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
                </div>
            </div>

            <div class="padding8">
                <div>
                    <i class="fa-solid fa-user-shield c-azul f-24 margin"></i>
                </div>
                <div>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
                </div>
            </div>
        </div>
        <div>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>
</html>